/* .MainWindow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.RegAndList {
  display: flex;
  justify-content: space-around;
  width: 1000px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .RegAndList {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
} */

.MainWindow {
  padding: 20px;
}

.top-menu {
  background-color: #f8f9fa;
  padding: 10px;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.left-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-menu h1{
  font-size: 34px;
  margin: 0;
  padding: 0px 40px 0px 10px;
}

.left-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.left-menu a {
  text-decoration: none;
  color: #000000; /* Колір тексту посилання */
  font-size: 18px;
  transition: color 0.3s;
}

.right-menu button{
  height: 40px;
  width: 80px;
  color: #000000;
  border: none;
  border-radius: 15px;

}

.top-menu ul li {
  display: inline;
}

.top-menu ul li a:hover {
  text-decoration: underline;
}

.login-button:hover {
  background-color: #0056b3;
}

.RegAndList {
  margin-top: 20px;
}